# Discord Bot Token
DISCORD_TOKEN=

# A free key can be used so long as only free models are selected.
# Note that if using a paid plan API key, then even free models will be billed.
GEMINI_API_KEY=

# The ID of the channel the bot should use for console logs. Logs will also
# display in the regular node system console.
LOGGING_CHANNEL_ID=